<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Лаба20_Курьяков_319_4.Properties.Settings.Lab19_Курьяков_319_4ConnectionString"
            connectionString="Data Source=DESKTOP-E8UQAJI\SQLEXPRESS;Initial Catalog=Lab19_Курьяков_319-4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Лаба20_Курьяков_319_4.Properties.Settings.Lab20_Курьяков_319_4ConnectionString"
            connectionString="Data Source=DESKTOP-E8UQAJI\SQLEXPRESS;Initial Catalog=Lab20_Курьяков_319-4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>